table {
    min-width: 150px;
    border-collapse: collapse;
    margin: auto;
    font-weight: bold;
}

thead th {
    border: 1px solid black;
    padding: 5px;
    background-color: lightgray;
}

tbody td {
    border: 1px solid black;
    padding: 2px;
    text-align: center;
}

tbody th {
    border: 1px solid black;
    padding: 1px 5px 1px 5px;
    text-align: center;
    background-color: rgb(136, 114, 114);
    color: white;
}

#nomes {
    width: 150px;
}

caption {
    font-weight: bold;
    margin: auto;
    padding: 10px;
}


