@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Righteous & family= Sarala:wght@700 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Righteous&family=Sarala:wght@700&display=swap');

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #362b2d 16.62%, #8E5D52 85.61%);
    min-width: 100vh;
}

html {
    scroll-behavior: smooth;
  }
  


.img-titulo {
    display: flex;
    align-items: center;
    margin-left: 360px;
    height: 190px;
}


header {
    position: relative;
    background-color: #756b6d;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    height: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img-header {
    border-radius: 50%;
    position: absolute;
    height: 72px;
    border: solid 1px #fff2e759;
    left: 80px;
    bottom: 60px;
}

.img-header:hover {
    transform: scale(1.010);
    transition: 0.5s;
    background-color: #ECD6C4;
}

.media-play {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    transition: 0.5s;
}

.texto-aside,
.botao-play {
    margin-bottom: 10px;
}

#contatos {
    display: flex;
    position: absolute;
    left: 30px;
    gap: 8px;
    flex-direction: column;
    
}

.img-contato-insta {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 30%;
}

.img-contato-git {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}


.media-play:hover {
    color: #ECD6C4;
    transition: 0.5s;
}

.texto-aside {
    font-family: 'Sarala', sans-serif;
    font-size: 20px;
    padding-bottom: 18px;
    text-decoration: underline;
    text-underline-offset: 0.4em; 
}

.botao-play {
    height: 50px;
    transition: 0.5s;
}

.botao-play:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.img-contato-insta:hover {
    transform: scale(1.1);
    transition: 0.5s;
    background-color: wheat;
}

.img-contato-git:hover {
    transform: scale(1.1);
    transition: 0.5s;
    background-color: wheat;

}

.barra-de-navegação {
    display: flex;
    margin-top: 160px;
    margin-left: 100px;
    gap: 20px;
    transition: 0.5s;
}

.barra-de-navegação:hover .menu-item {
    transition: 0.5s;
    filter: blur(3px);
}

.menu-item {
    display: block;
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
    transition: 0.1s;
}


.barra-de-navegação .menu-item:hover{
    transform: scale(1.01);
    transition: 0.5s;
    color: #ECD6C4;
    filter: blur(0px);
}
.conteudo {
    border-top: 0.4px solid #fff2e741;
    margin-bottom: 48px;
}

.conteudo-principal {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.img-section{
    border-radius: 50%;
    height: 450px;
    transition: 0.5s;

}

hr {
    color: solid black;
    height: 2px;
    background-color: black;
}

.img-section:hover {
    transform: scale(1.050);
    transition: 0.5s;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    background-color: #2f2325c5;
    height: 710px;
    width: 1200px;
    margin: auto;
    border-radius: 49px;
    transition: 0.5s;
    border: solid rgba(255, 0, 0, 0.616) 1px;
}

section:hover {
    transition: 0.5s;
    transform: scale(1.02);
    .img-section {
        border: 1px solid #fff4f1;
    }
}


.conteudo-textual {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px;
    border-radius: 49px;
    transition: 0.5s;
}

.conteudo-textual:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.h2-section{
    text-align: center;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}

.texto-section {
    font-family: 'Sarala', sans-serif;
    color: #ECD6C4;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    text-shadow: black 1px 1px 1px;
    border-bottom: 1px solid #fff2e741;
    border-top: 1px solid #fff2e741;
    padding-top: 20px;
    padding-bottom: 20px;


}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 150px;
    margin-top: 100px;
}

.img-rodape {
    display: flex;
    border-top: 0.4px solid #fff2e741;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    height: 60px;
}

