table {
    width: 400px;
    height: 400px;
    border-collapse: collapse;
}


table  td {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    vertical-align: top;
}

.linha1 {
    text-align: right;
    
}