@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue" rel="stylesheet');


@font-face {
    font-family: 'FontePersonalizada';
    src: url('fontes/idroid.otf') format('opentype');
    /* Outras variações da fonte, como bold, italic, etc., podem ser adicionadas aqui */
  }

html {
    scroll-behavior: smooth;

}

section#contatos {
    padding: 50px;
    background-color: #eee;
  }


body {
    background-color: #89CDA5;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient(#2d9c5d, #185533);
    height: 110px;
    padding: 30px;
    
}

header > h1 {
    text-align: center;
    color: white;
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 25px;
    
}

header > p {
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 19px;
}

header > nav {
    display: block;
    padding: 0px 0px 5px 10px;
    border-radius: 10px;
    margin: 0px 0px 260px -30px;
}

header > nav > a {
    font-family: 'Konkhmer Sleokchher';
    text-decoration: none;
    font-size: 20px;
    color: #a3e2bd;
    padding: 3px;
    border: solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    transition-duration: 1s;

}

header > nav > a:hover {
    background-color: rgba(28, 197, 28, 0.651);
    transition: all 0.4s ease-in-out;
}

header > nav > a:active {
    background-color: rgba(4, 110, 4, 0.651);
    color: white
}

header > nav > a:visited {
    color: white;
}

main {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.295);
    background-color: rgb(255, 255, 255);
    margin: 0px 450px 0px 450px ;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;

}


.h1-site {
    font-family: "FontePersonalizada";
    font-size: 34px;
    text-align: center;
    margin: 10px 10px 10px -1px;
    padding: 30px 0px 20px 0px;
    color: #053f1e;
    line-height: 1.5;


}

.paragrafos {
    padding: 2px 0px 30px 0px;
    font-size: 19px;
    text-indent: 30px;
    text-align: justify;
    margin-right: 10px;
    line-height: 1.5;

}

.h2-site {
    background-image: linear-gradient(to right,rgba(81, 209, 81, 0.822),rgb(208, 221, 208));
    border-radius: 10px;
    padding: 5px;
    color: #053f1e;
    margin: 10px 10px 17px -1px;
    font-family: "FontePersonalizada";
    line-height: 1.5;

}

div > img {
    display: block;
    margin: auto;
    padding: 5px 5px 5px 5px;
}

main > article > aside {
    display: inline-block;
    font-size: 18px;
    background-color: lightgrey;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.295);
    padding: 2px;
    border-radius: 2px;
    margin: 10px 10px 40px 10px;
    line-height: 1.5;

}

.irina{
    text-align: center;
    text-align: justify;
    text-indent: 30px;
    padding: 10px;
    font-size: 19px;
    margin-right: 50px;
    line-height: 1.5;

}

.videoYT {
    display: block;
    background-color: #053f1e;
    margin: auto;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.295);
    
}

.curiosidades {
    background-color: #C5EBD6;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.295);
    margin: 40px;
    
}


aside > h3 {
    border: black;
    padding: 5px;
    background-image: linear-gradient(to right ,#2a8553,#2FA866);
    color: white;
}

aside > p {
    font-size: 18px;
    text-align: justify;
    text-indent: 20px;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 50px;
}

.listas {
    display: inline-block;
    padding: 30px 20px 0px 100px;
}

.lista2 {
    display: inline-block;
    padding: 30px 20px 0px 200px;
}

ul {
    list-style-type: none;
  }
ul li:before {
    content: '\2713'; /* Código Unicode para a marca de seleção */
    margin-right: 0.5em;
  }

.ultimo-paragrafo {
    font-size: 18px;
    text-align: justify;
    text-indent: 20px;
    padding-top: 0px;
    padding-left: 20px;
    padding-bottom: 50px;
}

.paragrafo-fora-aside {
    font-size: 18px;
    text-align: justify;
    text-indent: 20px;
    padding-top: 0px;
    padding-left: 40px;
    padding-bottom: 50px;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: #053f1e;
    color: white;
}

footer > a > p {
    color: white;
}
footer >  p > a:visited {
    text-decoration: none;
    color: white;
}

footer > p > a:hover {
    color: #a3e2bd;
    transition: all 0.4s ease-in-out;
    text-decoration: none;

}