@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
} 

body {
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card {
    width: 400px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
}

.container .card .imgBx {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}