body {
    height: 100vh;
    background-color: black;
    background-image: url(imagens_fundo/wallpaper002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    background-color: white;
    width: 400px;
    margin: auto;
    border: solid blue;
    border-radius: 20px;
    padding: 15px;
}