@charset "UTF-8";

table {
    height: 100px;
    width: 700px;
    border-collapse: collapse;
    margin: auto;

}

caption {
    padding: 3px;
    text-align: center;
}

thead {
    background-color: lightgray;
}

thead th {
    text-align: center;
    border: 1px solid black;
}

tbody th {
    text-align: center;
    border: 1px solid black;
}

tbody  td, #num {
    text-align: center;
    border: 1px solid black;
}

.media {
    background-color: lightgray;
    margin-left: 100px;
    text-align: left;
}

